body {
    background-color: #373737 !important;
}

h1 {
    color: grey;
    font-size: 60px !important;
}

.content {
    text-align: center; 
}

.alert {
    text-align: center;
}

#letters {
    margin: auto;
    font-size: 40px;
    border-spacing: 10px; 
    border-collapse: separate;
    margin-top: 150px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    
}

#gameStart {
    margin: auto;
}

.inputButtons {
    border-radius: 7px;
}

#gameStart > tbody > tr > td{
    padding: 5px;
}


#letters, #letters > tbody > tr > th, #letters > tbody > tr > td {
    border: 5px grey solid;
    border-radius: 15px;
    color: white;
}

td {
    text-align: center;
}

.letter {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}


#letters > tbody {
    display: block;
    overflow-x: auto;
}

tbody > *{
    overflow-x: auto;
}

.repetition {
    background: green;
}

.repetition2 {
    background: #043b85;
}

.criticalLength {
    background: red;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

tbody::-webkit-scrollbar {
    height: 10px;
    
}

::-webkit-scrollbar-thumb {
    background: #007bff; 
    border-radius: 10px;
  }

.addElement:hover > a > i{
    width: 50px;
    visibility: visible;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    
}

.addElement *{
    position: relative;
}

.addElement  *{
    width: 1px;
    visibility: collapse;
    padding: 0 !important;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

i {
    overflow: hidden;
}

.letterA {
    background: #a80c0c;
}

.letterB {
    background: #d30909;
}

.letterC {
    background: #ed8224;
}

.letterD {
    background: #7aef36;
}

.letterE {
    background: #0a9c05;
}

.letterF {
    background: #29d8eb;
}

.letterG {
    background: #3740e6;
}

.letterH {
    background: #2e07a3;
}

.letterI {
    background: #c01fdc;
}

.letterJ {
    background: #8f0578;
}

.letterK {
    background: #e62a82;
}

.letterL {
    background: #dde200;
}